/* TO DO LIST  */
body {
    font-family: Arial, sans-serif;
    background-color: #067cf3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    width: 450px;
    /* height: 300px; */
}

.input-container {
    display: flex;
    margin-bottom: 20px;
    margin-right: 3px;
    /* padding-right: 10px; */
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    /* margin-left: 5px; */
}

button {
    background: #f504e9;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #f504e9;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #eee;
    padding: 10px;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    color: gray;
}

.delete-btn {
    background: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 3px;
    cursor: pointer;
}
